.divAddForm {
	width: 500px;
}

#addForm {
	display: none;
}
.addButton {
	margin-top: 10px;
}
.hideIt {
	display: none;
}

.item {
	border: 1px solid #000;
	position: relative;
}

.itemTitle {
	width: 75%;
	display: inline-block;
}
.smallMenu {
	position: absolute;
	top: 10px;
	right: 10px;

}
.highlight {
	width: 500px;
	padding: 9px 9px;
	margin-bottom: 14px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}

.desc {
	display: none;	
}
