hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

#addForm {
	display: none;
}
#itemList {
	display: inline-block;
	vertical-align: top;
}
.divAddForm {
	width: 500px;
}
.addButton {
	margin-top: 10px;
}
.hideIt {
	display: none;
}

.item {
	position: relative;
}

.itemTitle {
	width: 75%;
	display: inline-block;
}
.smallMenu {
	position: absolute;
	top: 10px;
	right: 10px;

}
.highlight {
	width: 500px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 14px;
	margin-bottom: 14px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}

.highlight h2 {

}

.desc {
	padding-bottom: 10px;
	display: none;	
}
